<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search User</title>
</head>
<body>
    <form>
        <label>Blood Group:</label>
        <input type="text" placeholder="Enter your Blood Group" name="Blood Group" required><br><br>

        <label>Mobile Number:</label>
        <input type="text" placeholder="Enter your Mobile Number" name="Mobile Number" required><br><br>

        <label>Aadhar Number:</label>
        <input type="text" placeholder="Enter your Aadhar Number" name="Aadhar Number" required><br><br>

        <label>Location:</label>
        <input type="text" placeholder="Enter your Location" name="Location" required>
    </form>
</body>
</html>